## Homework 1

In [2]:
# Question 1
#Create a list (call it x) of all integers between 1 and 100 (inclusive)

x = list(range(1,101))
x

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [2]:
# Question 2
# Select the first 5 elements in the list x

x[:5]

[1, 2, 3, 4, 5]

In [3]:
# Question 3
#Get the length of the list x

len(x)

100

In [4]:
# Question 4
# Select the last 10 elements in x

x[-10:]

[91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [5]:
# Question 5
# Create a list that has the first 5 and last 10 elements in x.

list_1 = x[:5]
list_2 = x[-10:]

list_1.extend(list_2)
print(list_1)

[1, 2, 3, 4, 5, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [6]:
# Question 6
# Use a for loop to show only the numbers in the list x that are divisible by 20.

for i in x:
    if i%20 == 0:
        print(i)

20
40
60
80
100

In [7]:
# Question 7
# Create a list and find the maximum

list = [90, -5, 870, 20, 400, 1000, 95]
list.sort()
list[-1]

1000

In [8]:
# Question 8
# find the maximum using a for loop

list = [90, -5, 870, 20, 400, 1000, 95]

max_value = 0
for i in list:
    if i > max_value: 
        max_value = i
print(max_value)

1000

In [9]:
# Question 9.1
# Create a simple linear regression model that relates the GPA to salaries
# If someoneâ€™s GPA is 3.9, compute the expected salary.
GPA = 3.9
Salary = 6430 * GPA + 1980

Salary

27057.0

In [10]:
# Question 9.2
# Use list comprehensions to find the salaries of all GPAs in the following list

GPA = [2.8, 3.4, 3.2, 3.8]
Salary = [6430 * i + 1980 for i in GPA]
Salary

[19984.0, 23842.0, 22556.0, 26414.0]